<div class="modal fade" id="registrarProductoModal" tabindex="-1" role="dialog" aria-labelledby="registrarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="registrarProductoModalLabel">Registrar nuevo producto</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="formRegistrarProducto" name="formRegistrarProducto">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="CategoriaRegistrar" class="col-form-label">Categoría:</label>
                        <select class="form-control" id="CategoriaRegistrar" name="CategoriaRegistrar"></select>
                    </div>
                    <div class="form-group">
                        <label for="Codigo" class="col-form-label">Código:</label>
                        <input type="text" class="form-control" id="Codigo" name="Codigo">
                    </div>
                    <div class="form-group">
                        <label for="CodigoBarra" class="col-form-label">Código de barra:</label>
                        <input type="text" class="form-control" id="CodigoBarra" name="CodigoBarra">
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="Pieza" class="col-form-label">Pieza:</label>
                        <input type="number" class="form-control" id="Pieza" name="Pieza">
                    </div>
                    <div class="form-group">
                        <label for="Capacidad" class="col-form-label">Capacidad:</label>
                        <input type="text" class="form-control" id="Capacidad" name="Capacidad">
                    </div>
                    <div class="form-group">
                        <label for="Color" class="col-form-label">Color:</label>
                        <input type="text" class="form-control" id="Color" name="Color">
                    </div>
                    <div class="form-group">
                        <label for="Material" class="col-form-label">Material:</label>
                        <input type="text" class="form-control" id="Material" name="Material">
                    </div>


                    <div class="form-group">
                        <label for="Descripcion" class="col-form-label">Descripción:</label>
                        <textarea type="text" class="form-control" id="Descripcion" name="Descripcion"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-w-m btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-w-m btn-primary ladda-button" data-style="zoom-in" id="btnRegistrar">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>