<hr />
<section id="contacto" class="gray-section contact" style="width: 100%;">
    <div class="col s12">
        <div class="card-panel">
            <div class="container" style="background:#CDCDCD">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Contactanos</h1>
                        <p>Descripción del contacto.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Images/logoprincipal2.png" width="229" height="400" alt="Technology" class="img-responsive pull-right" />
                    </div>

                    <div class="col-md-3">
                        <address>
                            <i class="fa fa-user-o"> J. Abraham Almanza Morales</i>
                            <br />
                            <i class="fa fa-phone-square"> 5586-8609 y 5119-1986</i>
                            <br />
                            <i class="fa fa-mobile-phone"> 55 7007-6830</i>
                            <br />
                            <i class="fa fa-envelope-o"> abraham.a@@usbproyectosestrategicos.mx </i>
                            <br />
                            <i class="fa fa-mobile-wifi"> www.usbtechnology.mx</i>
                            <br />
                        </address>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#" class="btn btn-primary enviarCorreo" data-toggle="modal" data-target="#correoModal">Enviar email</a>
                        <p class="m-t-sm">
                            Conoce más acerca de nosotros
                        </p>
                        <ul class="list-inline">
                            <li>
                                <a href="@Url.Action("PoliticaGarantia", "Politica")"><i class="fa fa-trophy"> Políticas y garantías</i></a>
                            </li>
                            <li>
                                <a href="@Url.Action("NuestraHistoria", "Politica")"><i class="fa fa-history"> Nuestra historia</i></a>
                            </li>
                            <li>
                                <a href="@Url.Action("AvisoPrivacidad", "Politica")"><i class="fa fa-shield"> Aviso de privacidad</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
