<div class="alert alert-danger" id="mensajePrecios" style="display: none;">
    Para poder ver los precios es necesario estar <a class="alert-link" href="@Url.Action("Register","Account")">registrado</a> e <a class="alert-link" href="@Url.Action("Login","Account")"> iniciar sesión</a>.
</div>
