<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12">
        <select class="form-control" id="ordenamientoProducto" name="ordenamientoProducto">
            <option value="-1">Ordenar por</option>
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
            @*<option value="menprecio">Menor precio</option>
            <option value="mayprecio">Mayor precio</option>*@
            <option value="mencapacidad">Menor capacidad</option>
            <option value="maycapacidad">Mayor capacidad</option>
        </select>

    </div>
</div>

