@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Technology | Aviso de privacidad</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a class="btn btn-white btn-xs" href="@Url.Action("Index", "Home")" role="button"><i class="fa fa-home"></i></a>
                            <a class="btn btn-white btn-xs" href="@Url.Action("PoliticaGarantia", "Politica")" role="button">Políticas y garantías</a>
                            <a class="btn btn-white btn-xs" href="@Url.Action("NuestraHistoria", "Politica")" role="button">Nuestra historia</a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <img src="~/Images/logoprincipal2.png" width="229" height="400" alt="Technology" class="img-responsive pull-center" />
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <h1>
                                    Aviso de privacidad
                                </h1>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>     
                        <br />
                        <p>
                            Con fundamento en la Constitución Política de los Estados Unidos Mexicanos, en su artículo 16, párrafo segundo, referentes a la oposición y cancelación, de conformidad con disposiciones contenidas en la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental, su Reglamento y los Lineamientos respectivos emitidos por el Instituto Federal de Acceso a la Información y Protección de Datos, y fundamento para dicho tratamiento, en los enunciados previstos en el artículo 18 fracciones VI, VII y XI del Reglamento Interior de la Secretaría de la Función Pública, 20 de la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental; décimo sexto y décimo séptimo de los Lineamientos de Protección de Datos Personales. 
                            </p>
                        <p>
                            <strong>USB Y PROYECTOS ESTRATÉGICOS S.A. DE C.V.</strong> con la firme convicción de proteger sus datos electrónicos hemos creado esta política de privacidad, de correo electrónico y demostrar así nuestro compromiso con su privacidad y con la protección de su información. USB Y PROYECTOS ESTRATÉGICOS S.A. DE C.V. Así mismo si ha recibido alguna información de nosotros a su dirección de correo electrónico es porque aparece en nuestras listas que alguien ha compartido de manera explícita su dirección con el propósito de recibir información en el futuro o en su caso, vía aceptación explícita a participar. También cabe la posibilidad que usted se ha registrado con nosotros, nos ha hecho alguna compra o bien mantiene en la actualidad algún tipo de relación con nosotros. Respetamos su tiempo y gentileza por lo que controlamos la frecuencia de nuestros envíos. Hoy en día estamos conscientes de la importancia del buen uso de sus datos y por tal motivo Utilizamos medidas de seguridad para proteger su información contra la pérdida, mala utilización y alteración de datos utilizados por nuestro sistema. Nunca compartiremos, venderemos ni alquilaremos información personal individual con nadie sin tener su permiso o a no ser que lo ordene un tribunal de justicia. La información que nos remita sólo será compartida con los empleados que gestionan esta información con objeto de ponerse en contacto con usted o enviarle correos electrónicos según su petición de información, así como con los proveedores de servicios contratados con objeto de proporcionarle servicios relacionados con nuestras comunicaciones con usted. En caso de no querer recibir más información de nuestra parte, háganos favor de informar su decisión vía electrónica y con mucho gusto tomaremos las medidas necesarias para no molestarlo.
                        </p>
                      
                    </div>
                </div>
            </div>
        </div>


    </div>


</body>

</html>
