@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Technology | Políticas y garantías</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a class="btn btn-white btn-xs" href="@Url.Action("Index", "Home")" role="button"><i class="fa fa-home"></i></a>
                            <a class="btn btn-white btn-xs" href="@Url.Action("NuestraHistoria", "Politica")" role="button">Nuestra historia</a>
                            <a class="btn btn-white btn-xs" href="@Url.Action("AvisoPrivacidad", "Politica")" role="button">Aviso privacidad</a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <img src="~/Images/logoprincipal2.png" width="229" height="400" alt="Technology" class="img-responsive pull-center" />
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <h1>
                                    Políticas y Garantías
                                </h1>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <p>
                            <strong>GARANTIA DE PRODUCTO </strong>
                        </p>
                        <p>
                            Todos los productos que vendemos se entregan nuevos, directamente de fábrica y tienen una GARANTÍA de 10 días naturales a partir de la fecha de entrega, aplicable sobre cualquier defecto de manufactura.
                            En caso de existir defectos o mal funcionamiento, todo producto será repuesto por el mismo modelo o por otro del mismo precio.
                            Para hacer válida la garantía, es indispensable presentar la factura correspondiente.

                        </p>
                        <br />
                        <p>
                            <strong>LA GARANTÍA PARA CAMBIO O DEVOLUCION NO APLICA: </strong>
                        </p>
                        <p>
                            Si los artículos por los cuales se pide cambio se encuentran manipulados, maltratados o dañados por el cliente o terceros contratados por el mismo, al abrir, transportar, almacenar o manipular los productos.
                        </p>
                        <p>
                            Si los artículos presentan alteraciones físicas o han sido manipulados, por ejemplo: impresos o grabados en cualquiera de sus formas como tampografía, serigrafía, láser, punta diamante, etc.
                        </p>
                        <br />
                        <p>
                            <strong>PRECIOS: </strong>
                        </p>
                        <p>
                            Todos nuestros precios se encuentran en moneda nacional y hay que agregar el Impuesto al Valor Agregado (I.V.A.).
                        </p>
                      
                    </div>
                </div>
            </div>
        </div>


    </div>


</body>

</html>
